<!DOCTYPE html>
<html>
<head>
    <title>Lista de Motocicletas</title>
</head>
<body>
    <h1>Motocicletas</h1>
    <a href="{% url 'crear_motocicleta' %}">Agregar nueva motocicleta</a>
    <ul>
        {% for moto in motos %}
            <li>
                {{ moto.placa }} - {{ moto.propietario }} - {{ moto.cilindraje }}cc - {{ moto.fecha_fabricacion }}
            </li>
        {% empty %}
            <li>No hay motocicletas registradas.</li>
        {% endfor %}
    </ul>
</body>
</html>
        {% for moto in motos %}
            <li>
                {{ moto.placa }} - {{ moto.propietario }} - {{ moto.cilindraje }}cc - {{ moto.fecha_fabricacion }}
                <a href="{% url 'eliminar_motocicleta' moto.id %}">Eliminar</a>
            </li>
        {% endfor %}